@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

/*ESTILOS HEADER*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .header .logotipo {
    width: 100%; }
  .header .headerLogo {
    width: 350px; }

.headerMenu {
  font-weight: bold;
  font-family: sans-serif; }
  .headerMenu .headerLogo {
    width: 25%;
    border: 15px;
    border-radius: 5px; }
  .headerMenu .menuList {
    list-style-type: none;
    font-size: 0;
    padding: 0;
    width: 100%; }
  .headerMenu .listInline {
    display: inline-block;
    width: 20%;
    position: relative; }

a {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  display: block;
  background-color: #2a2a2e;
  padding: 10px; }
  a:hover {
    background-color: #030336;
    transition: all 0.3s ease-in-out; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  width: 100%; }

ul li:hover ul {
  display: block; }

ul li:hover ul a:hover {
  background-color: #030336;
  transition: all 0.3s ease-in-out; }

/*FIN ESTILOS HEADER*/
/*ESTILOS MAIN*/
/*PÁGINA DE INICIO*/
.main {
  padding-top: 10rem; }
  .main body {
    font-family: "Open Sans", sans-serif;
    color: #03011f;
    line-height: 1.5; }
  .main h1 {
    color: darkblue;
    text-align: center; }
  .main h2 {
    color: darkblue;
    text-align: center; }
  .main h3 {
    color: darkblue;
    text-align: center; }
  .main h4 {
    color: darkblue;
    text-align: center; }

.carousel slide {
  justify-content: center;
  margin: 5px auto 5px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey; }
  .carousel slide .carousel-item {
    width: 1000px; }

.gallery .galeríaFlexible {
  margin: 10px;
  border: 2px solid silver;
  transition: all 0.5s ease-in-out; }
  .gallery .galeríaFlexible:hover {
    border: 2px solid #030336;
    box-shadow: 5px 5px 5px grey; }

.gallery .imgGallery {
  width: 50%;
  border: 2px solid transparent;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  filter: brightness(70%);
  transform: scale(1);
  transition: all 0.5s ease-in-out; }
  .gallery .imgGallery:hover {
    filter: brightness(100%);
    transform: scale(1.1); }

.gallery .galeríaDescripcion {
  padding: 0.2rem;
  text-align: center; }

.sectionTitle {
  text-align: center;
  position: relative; }

.productDesc {
  text-align: center; }

/*FIN PÁGINA DE INICIO*/
/*PÁGINA DE PRODUCTOS*/
#nav-item {
  font-family: "Open Sans", sans-serif;
  color: #03011f;
  line-height: 1.5;
  background-color: white; }
  #nav-item:hover {
    color: darkblue;
    background-color: white; }

.productItems {
  width: 33.33%;
  cursor: pointer #030336;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
  border-radius: 3px; }

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 12px;
  justify-content: center; }

.column {
  flex: 30%;
  max-width: 30%; }

.column img {
  margin: 10px 10px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #a4a4ab;
  filter: brightness(100%);
  transform: scale(1);
  transition: all 0.5s ease-in-out; }
  .column img:hover {
    filter: brightness(70%);
    transform: scale(1.1); }

div .gallery-row {
  display: block;
  width: 100%; }

/*FIN PÁGINA DE PRODUCTOS*/
/*PÁGINA DE SERVICIOS*/
.box {
  margin: 5px 0 5px 0; }

.title {
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 600;
  transform: scale(1);
  transition: all 0.5s ease-in-out; }
  .title:hover {
    color: #373f4a;
    transform: scale(1.1); }

.description {
  text-align: justify; }

@media screen and (max-width: 768px) {
  .column {
    flex: 50%;
    max-width: 50%; } }

@media screen and (max-width: 576px) {
  .column {
    flex: 100%;
    max-width: 100%; } }

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    flex-basis: 33.3333%;
    max-width: 33.333333%; } }

/*FIN PÁGINA DE SERVICIOS*/
/*PÁGINA DE PROYECTOS*/
.card {
  width: 100%;
  margin: 5px;
  border: 2px solid silver;
  border-radius: 3px;
  box-shadow: 3px 3px 3px grey;
  display: flex;
  justify-content: center; }
  .card .card-container {
    flex-direction: row;
    flex-wrap: no wrap; }
    .card .card-container .card-img {
      border: 1px solid darkgrey;
      border-radius: 2px;
      width: 250px; }
    .card .card-container .card-body {
      margin: 0; }

/*FIN PÁGINA DE PROYECTOS*/
/*PÁGINA DE CONTACTO*/
.contact-info {
  margin-bottom: 20px;
  margin-top: 20px;
  align-content: center;
  display: flex;
  flex-wrap: wrap; }
  .contact-info #telefono {
    font-family: "Open Sans", sans-serif;
    color: #03011f;
    line-height: 1.5;
    background-color: white; }
    .contact-info #telefono:hover {
      color: darkblue; }
  .contact-info #correo {
    font-family: "Open Sans", sans-serif;
    color: #03011f;
    line-height: 1.5;
    background-color: white; }
    .contact-info #correo:hover {
      color: darkblue; }

@media screen and (max-width: 768px) {
  .contact-info {
    flex: 30%;
    max-width: 30%; } }

@media screen and (max-width: 576px) {
  .contact-info {
    flex: 100%;
    max-width: 100%; } }

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    flex-basis: 33.3333%;
    max-width: 33.333333%; } }

.contact-form {
  border-radius: 5px;
  background-color: #b6b6bf;
  padding: 10px;
  line-height: 1.5px; }
  .contact-form textarea {
    height: 20%;
    width: 50%; }

/*FIN PÁGINA DE CONTACTO*/
/*FIN ESTILOS MAIN*/
/*ESTILOS FOOTER*/
.pie {
  display: block; }
  .pie .copyright {
    text-align: center;
    background-color: dimgray;
    color: #2a2a2e; }
