@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin html {
	@include reset-list;
}

@mixin main-theme {
	color: darkblue;
	text-align: center;
}

@mixin transition-time-effect {
	transition: all 0.5s ease-in-out;
}

/*ESTILOS HEADER*/
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	.logotipo {
	width: 100%
	}
}

.headerMenu {
	font-weight: bold;
	font-family: sans-serif;
	.headerLogo {
	width: 25%;
	border: 15px;
	border-radius: 5px;
  }
  .menuList {
	list-style-type: none;
	font-size: 0;
	padding: 0;
	width: 100%;
  }
  .listInline {
	display: inline-block;
	width: 20%;
	position: relative;
  }
}

a {
	color: whitesmoke;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	display: block;
	background-color: #2a2a2e;
	padding: 10px;
	&:hover {
	background-color: #030336;
	transition: all 0.3s ease-in-out;
	}
}

ul ul {
	position: absolute;
	display: none;
}

ul ul li {
	width: 100%;
}

ul li:hover ul {
	display: block;
}

ul li:hover ul a:hover {
	background-color: #030336;
	transition: all 0.3s ease-in-out;
}

/*FIN ESTILOS HEADER*/

/*ESTILOS MAIN*/

.main {
	padding-top: 15rem;
	body {
		font-family: "Open Sans", sans-serif;
    color: #03011f;
    line-height: 1.5;
	}
	h1 {
		@include main-theme;
  }
	h2 {
		@include main-theme;
	}
	h3 {
		@include main-theme;
	}
	h4 {
		@include main-theme;
	}
	.imgTodotambo {
	width: 600px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	}
}

.gallery {
	.galeríaFlexible {
	margin: 10px;
	border: 2px solid silver;
	transition: all 0.5s ease-in-out;
		&:hover {
		border: 2px solid #030336;
		box-shadow: 5px 5px 5px grey;
		}
	}
	.imgGallery {
		width: 50%;
		border: 2px solid transparent;
    border-radius: 15px;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	z-index: 1;
    filter: brightness(70%);
    transform: scale(1);
    @include transition-time-effect;
    &:hover {
	  filter: brightness(100%);
	  transform: scale(1.1);
		}
	}
	.galeríaDescripcion {
		padding: 0.2rem;
		text-align: center;
	}
}

.sectionTitle {
	text-align: center;
  position: relative;
}

.productDesc {
	text-align: center;
}

.productItems {
	cursor: pointer #030336;
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    @include transition-time-effect;
    border-radius: 3px;
}

.gallery-row {
	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
  	margin: 10px;
}

.column {
  flex: 33%;
  max-width: 33%;
}

.column img {
  	margin: 10px 10px;
  	width: 100%;
  	border-radius: 3px;
  	border: 2px solid #a4a4ab;
  	filter: brightness(100%);
    transform: scale(1);
    @include transition-time-effect;
    &:hover {
    filter: brightness(70%);
    transform: scale(1.1);
		}
}

div .row {
	display: block;
	width: 100%;
}

.box {
	margin: 5px 0 5px 0;
}

.title {
	border-radius: 2px;
	border: 1px solid transparent;
	font-weight: 600;
	transform: scale(1);
  @include transition-time-effect;
  &:hover {
	color: #373f4a;
	transform: scale(1.1);
	}
}

.description {
	text-align: justify;
}

@media screen and (max-width: 768px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
.col-lg-4 {
    flex: 0 0 33.333333%;
    flex-basis: 33.3333%;
    max-width: 33.333333%;
  }
}

.card {
	width: 100%;
	margin: 5px;
	border: 2px solid silver;
	border-radius: 3px;
	box-shadow: 3px 3px 3px grey;
	display: flex;
}

.card-container {
	flex-direction: row;
	flex-wrap: wrap;
}

.card-img {
	border: 1px solid darkgrey;
	border-radius: 2px;
}

.card-body {
	margin: 0;
}

@media (max-width: 768px) {
  .card {
    float: right;
  }
}

.contact-info {
	margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.form {
	display: inline-block;
}

/*FIN ESTILOS MAIN*/

/*ESTILOS FOOTER*/

.pie {
	.copyright {
	background-color: dimgray;
	color: #03011f;
	}
}

